# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\F\SD22101_JAV101\trenlop10_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
